body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.text {
    text-align: justify;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    /* border: 1px solid; */
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}